* {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, p {
	padding: 10px 0px;
}

h3, h2, h3, h4, h5 {
	color: #2579B2;
}

hr {
	 border: 0; 
	 height: 1px; 
	 background: #cbcbcb;
}

span {
	font-weight: bold;
	color: #E54515;
}

body, button {
	font-family: sans-serif;
}

/*Header and Navigation*/

.site-logo, nav, #login {
	display: inline-block;
}

.site-title {
	background: #1379BD;
	padding: 15px;
	color: white;
}

nav, #login {
	vertical-align: top;
	float: right;
}

nav {
	border-bottom: 1px solid #ECECEC;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	border-radius: 5px;
	padding: 10px;
}

nav ul li {
	display: inline-block;
	margin: 0px 5px;
}

nav a {
	color: #ACADA4;
	text-decoration: none;
	border-right: 1px solid #ACADA4;
	padding-right: 10px;
}

/*Main Page Elements*/

.container {
	width: 1060px;
	margin: 0 auto;
}

.sidebar {
	width: 225px;
	padding: 25px;
}

.sidebar, .main-content {
	vertical-align: top;
	display: inline-block;
}

.main-content {
	width: 700px;
	padding: 10px 30px;
}

.main-content ul {
	padding-left: 15px;
	list-style-type: square;
}

.content-ad {
	width: 200px;
	background: #DCDCDC;
	margin: 15px auto;
}

.content-ad h3 {
	padding: 20px;
}

.content-ad p {
	padding: 0px 20px 20px 20px;
}

.content-banner {
	border: 5px solid #88BBD6;
	padding: 10px 5px 20px 5px;
	margin: 5px auto;
}

.content-wrapper {
	display: inline-block;
	width: 580px;
}

/*Buttons*/

#login {
	background: #2997DD;
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
	border: none;
	margin: 5px 15px;
	cursor: pointer;
}

#demo, #trial, #action {
	width: 170px;
	margin: 2px auto;
	border: none;
	border-radius: 5px;
	padding: 5px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

#demo {
	background: #2997DD;
}

#trial {
	background: #EF7700;
}

#action {
	background: #9DBD05;
}

#grade {
	background: #1F639C;
	width: 170px;
	margin: -10px 3px 5px 15px;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

/*Images*/

#img-flag {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	height: 90px;
	width: 64px;
}

#img-ruler {
	margin-bottom: -5px;
}

/*Normalize stylings*/

.centered {
	text-align: center;
}