* {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5, p {
	padding: 10px 0px;
}

h3, h2, h3, h4, h5 {
	color: #2579B2;
}

hr {
	 border: 0; 
	 height: 1px; 
	 background: #333;
}

span {
	font-weight: bold;
	color: #E54515;
}

body {
	font-family: sans-serif;
}

.container {
	width: 1060px;
	margin: 0 auto;
}

.site-logo, nav, #login {
	display: inline-block;
}

.site-title {
	background: #1379BD;
	padding: 7px 5px;
	color: white;
}

#login {
	margin-left: 5px;
}

nav, #login {
	vertical-align: top;
	float: right;
}

nav {
	border-bottom: 1px solid #ECECEC;
	border-left: 1px solid #ECECEC;
	border-right: 1px solid #ECECEC;
	border-radius: 5px;
	padding: 10px;
}

nav ul li {
	display: inline-block;
	margin: 0px 5px;
}

nav a {
	color: #ACADA4;
	text-decoration: none;
	border-right: 1px solid #ACADA4;
	padding-right: 10px;
}

/*Buttons*/

#login {
	background: #167EC0;
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
}

#demo, #trial {
	width: 170px;
	margin: 2px auto;
	border: none;
	border-radius: 5px;
	padding: 5px;
	color: white;
	font-weight: bold;
}

#demo {
	background: blue;
}

#trial {
	background: orange;
}

#ad {
	margin: 15px 7px;
	height: 251;
	width: 202;
}

.sidebar, .main-content {
	vertical-align: top;
	display: inline-block;
}

.sidebar {
	width: 225px;
	padding: 25px;
	background: pink;
}

.centered {
	text-align: center;
}

.main-content {
	width: 700px;
	padding: 10px 30px;
}

.main-content ul {
	padding-left: 15px;
	list-style-type: square;
}

.content-banner {
	border: 5px solid #88BBD6;
	padding: 10px 5px 20px 5px;
	margin: 5px auto;
}

.content-inner {
	display: inline-block;
	width: 580px;
}

#img-flag {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}